@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}
html {
	background-color: theme('colors.orange.200');
}

@layer utilities {
	.small-caps {
		font-variant: all-small-caps;
	}
}
